CEFR_txt/American_Oxford_3000_by_CEFR_level.txt
CEFR_txt/American_Oxford_5000_by_CEFR_level.txt
CEFR_txt/The_Oxford_3000_by_CEFR_level.txt
CEFR_txt/The_Oxford_5000_by_CEFR_level.txt
data_all/Idioms.txt
data_all/labels_all.csv
data_all/Subtitles_all/10_cloverfield_lane(2016).srt
data_all/Subtitles_all/10_things_i_hate_about_you(1999).srt
data_all/Subtitles_all/500_Days_Of_Summer_2009.srt
data_all/Subtitles_all/a_knights_tale(2001).srt
data_all/Subtitles_all/A_most_violent_year.srt
data_all/Subtitles_all/a_star_is_born(2018).srt
data_all/Subtitles_all/aladdin(1992).srt
data_all/Subtitles_all/all_dogs_go_to_heaven(1989).srt
data_all/Subtitles_all/an_american_tail(1986).srt
data_all/Subtitles_all/Angela's.Christmas.2018.varivoda_sp.srt
data_all/Subtitles_all/Angelas.Christmas.Wish.2020.varivoda_sp.srt
data_all/Subtitles_all/Anger_management.srt
data_all/Subtitles_all/As_good_as_it_gets.srt
data_all/Subtitles_all/babe(1995).srt
data_all/Subtitles_all/back_to_the_future(1985).srt
data_all/Subtitles_all/banking_on_bitcoin(2016).srt
data_all/Subtitles_all/Banking.on.Bitcoin.2016.varivoda_sp.srt
data_all/Subtitles_all/batman_begins(2005).srt
data_all/Subtitles_all/beauty_and_the_beast(2017).srt
data_all/Subtitles_all/before_i_go_to_sleep(2014).srt
data_all/Subtitles_all/before_sunrise(1995).srt
data_all/Subtitles_all/before_sunset(2004).srt
data_all/Subtitles_all/Billy_madison.srt
data_all/Subtitles_all/braveheart(1995).srt
data_all/Subtitles_all/Breakfast at Tiffanys.1961.varivoda_sp.srt
data_all/Subtitles_all/breaking_bad_the_movie(2017).srt
data_all/Subtitles_all/BrenВ.Brown.The.Call.to.Courage.2019.varivoda_sp.srt
data_all/Subtitles_all/bridget_jones_diary(2001).srt
data_all/Subtitles_all/bridget_joness_baby.srt
data_all/Subtitles_all/Bubble_boy.srt
data_all/Subtitles_all/Captain_corellis_mandolin.srt
data_all/Subtitles_all/cars(2006).srt
data_all/Subtitles_all/casper.srt
data_all/Subtitles_all/cast_away(2000).srt
data_all/Subtitles_all/catch_me_if_you_can(2002).srt
data_all/Subtitles_all/charlie_and_the_chocolate_factory.srt
data_all/Subtitles_all/Cheaper_by_the_dozen.srt
data_all/Subtitles_all/cinderella(1950).srt
data_all/Subtitles_all/Citizen_kane.srt
data_all/Subtitles_all/clueless(1995).srt
data_all/Subtitles_all/Collateral.Beauty.2016.varivoda_sp.srt
data_all/Subtitles_all/Cool_hand_luke.srt
data_all/Subtitles_all/Crocodile_dundee.srt
data_all/Subtitles_all/Daddy_day_care.srt
data_all/Subtitles_all/deadpool(2016).srt
data_all/Subtitles_all/despicable_me(2010).srt
data_all/Subtitles_all/die_hard(1988).srt
data_all/Subtitles_all/Doctor_dolittle.srt
data_all/Subtitles_all/dredd(2012).srt
data_all/Subtitles_all/Dumb_and_dumber.srt
data_all/Subtitles_all/dune(2021).srt
data_all/Subtitles_all/enola_holmes(2020).srt
data_all/Subtitles_all/entrapment.srt
data_all/Subtitles_all/eurovision_song_contest_(2020).srt
data_all/Subtitles_all/failed-afv.dvdrip-sd.srt
data_all/Subtitles_all/ferdinand(2017).srt
data_all/Subtitles_all/fight_club(1999).srt
data_all/Subtitles_all/Finch 2021 _English.srt
data_all/Subtitles_all/finding_nemo(2003).srt
data_all/Subtitles_all/forrest_gump(1994).srt
data_all/Subtitles_all/Free_willy.srt
data_all/Subtitles_all/Frozen.2013.varivoda_sp.srt
data_all/Subtitles_all/Ghosts.of.Girlfriends.Past.2009.varivoda_sp.srt
data_all/Subtitles_all/gogo_loves_english.srt
data_all/Subtitles_all/good_will_hunting(1997).srt
data_all/Subtitles_all/groundhog_day(1993).srt
data_all/Subtitles_all/Gullivers.Travels.1939.varivoda_sp.srt
data_all/Subtitles_all/harry_potter_and_the_philosophers_stone(2001).srt
data_all/Subtitles_all/her(2013).srt
data_all/Subtitles_all/home_alone(1990).srt
data_all/Subtitles_all/hook(1991).srt
data_all/Subtitles_all/house_of_gucci(2021).srt
data_all/Subtitles_all/Icarus.2017.varivoda_sp.srt
data_all/Subtitles_all/indecent_proposal.srt
data_all/Subtitles_all/inside_out(2015).srt
data_all/Subtitles_all/inside-einsteins-mind-the-enigma-of-space-and-time.2015.varivoda_sp.srt
data_all/Subtitles_all/its_a_wonderful_life(1946).srt
data_all/Subtitles_all/Jerry_maguire.srt
data_all/Subtitles_all/Junior.srt
data_all/Subtitles_all/Just_married.srt
data_all/Subtitles_all/klaus(2019).srt
data_all/Subtitles_all/knives_out(2019).srt
data_all/Subtitles_all/kubo_and_the_two_strings(2016).srt
data_all/Subtitles_all/liar_liar(1997).srt
data_all/Subtitles_all/lion(2016).srt
data_all/Subtitles_all/logan(2017).srt
data_all/Subtitles_all/love_actually(2003).srt
data_all/Subtitles_all/made_of_honor(2008).srt
data_all/Subtitles_all/mamma_mia(2008).srt
data_all/Subtitles_all/mary_poppins_returns(2018).srt
data_all/Subtitles_all/matilda(1996).srt
data_all/Subtitles_all/Mechanic.Resurrection.2016.varivoda_sp.srt
data_all/Subtitles_all/meet_the_parents(2000).srt
data_all/Subtitles_all/milada(2017).srt
data_all/Subtitles_all/Miracle_on_34th_street.srt
data_all/Subtitles_all/mona_lisa_smile(2003).srt
data_all/Subtitles_all/Monsters_inc.srt
data_all/Subtitles_all/moulin_rouge(2001).srt
data_all/Subtitles_all/Mousehunt.srt
data_all/Subtitles_all/Mr_Deeds.srt
data_all/Subtitles_all/mrs_doubtfire(1993).srt
data_all/Subtitles_all/Mulholland.Drive.2001.REPACK.720p.BluRay.x264.AAC-[YTS.MX].srt
data_all/Subtitles_all/my_big_fat_greek_wedding(2002).srt
data_all/Subtitles_all/Nine_months.srt
data_all/Subtitles_all/notting_hill(1999).srt
data_all/Subtitles_all/oceans_eleven(2001).srt
data_all/Subtitles_all/oceans_twelve(2004).srt
data_all/Subtitles_all/On Yoga - The Architecture of Peace.2017.varivoda_sp.srt
data_all/Subtitles_all/One_flew_over_the_cuckoo's_nest.srt
data_all/Subtitles_all/Peppa_pig_my_first_cinema_experience.srt
data_all/Subtitles_all/pirates_of_the_caribbean(2003).srt
data_all/Subtitles_all/pleasantville(1998).srt
data_all/Subtitles_all/Police_academy.srt
data_all/Subtitles_all/powder(1995).srt
data_all/Subtitles_all/Pretty_woman.srt
data_all/Subtitles_all/pride_and_prejudice.srt
data_all/Subtitles_all/pulp_fiction(1994).srt
data_all/Subtitles_all/Raiders.of.the.Lost.Ark.1981.UHD.BluRay.2160p.TrueHD.Atmos.7.1.DV.HEVC.REMUX-FraMeSToR.srt
data_all/Subtitles_all/Rat_race.srt
data_all/Subtitles_all/ratatouille(2007).srt
data_all/Subtitles_all/ready_or_not(2019).srt
data_all/Subtitles_all/Red.Notice.2021.varivoda_sp.srt
data_all/Subtitles_all/Riding_in_cars_with_boys.srt
data_all/Subtitles_all/Roman Holiday.1953.varivoda_sp.srt
data_all/Subtitles_all/Runaway_bride.srt
data_all/Subtitles_all/Shallow_hal.srt
data_all/Subtitles_all/shrek(2001).srt
data_all/Subtitles_all/sleepless_in_seattle(1993).srt
data_all/Subtitles_all/SlingShot.2014.varivoda_sp.srt
data_all/Subtitles_all/Snow_white_and_the_seven_dwarfs.srt
data_all/Subtitles_all/Something's_gotta_give.srt
data_all/Subtitles_all/SOMM.Into.the.Bottle.2015.varivoda_sp.srt
data_all/Subtitles_all/soul(2020).srt
data_all/Subtitles_all/Spirit.Stallion.of.the.Cimarron.2002.varivoda_sp.srt
data_all/Subtitles_all/Sweet_home_alabama.srt
data_all/Subtitles_all/Tangled.srt
data_all/Subtitles_all/Tesla.2020.varivoda_sp.srt
data_all/Subtitles_all/The Grinch.2018.varivoda_sp.srt
data_all/Subtitles_all/The Matrix.srt
data_all/Subtitles_all/The Prince of Egypt.1998.varivoda_sp.srt
data_all/Subtitles_all/the_blind_side(2009).srt
data_all/Subtitles_all/The_bodyguard.srt
data_all/Subtitles_all/the_break-up(2006).srt
data_all/Subtitles_all/the_cabin_in_the_woods(2012).srt
data_all/Subtitles_all/the_devil_wears_prad.srt
data_all/Subtitles_all/The_extra-terrestrial.srt
data_all/Subtitles_all/the_fault_in_our_stars(2014).srt
data_all/Subtitles_all/the_fundamentals_of_caring(2016).srt
data_all/Subtitles_all/the_ghost_writer.srt
data_all/Subtitles_all/the_graduate(1967).srt
data_all/Subtitles_all/the_greatest_showman(2017).srt
data_all/Subtitles_all/the_hangover(2009).srt
data_all/Subtitles_all/the_holiday(2006).srt
data_all/Subtitles_all/the_intern(2015).srt
data_all/Subtitles_all/the_invisible_man(2020).srt
data_all/Subtitles_all/the_jungle_book(2016).srt
data_all/Subtitles_all/the_kings_speech(2010).srt
data_all/Subtitles_all/The_lake_house.srt
data_all/Subtitles_all/The_last_samurai.srt
data_all/Subtitles_all/the_legend_of_tarzan(2016).srt
data_all/Subtitles_all/the_lion_king(1994).srt
data_all/Subtitles_all/The_little_mermaid.srt
data_all/Subtitles_all/the_lord_of_the_rings(2001).srt
data_all/Subtitles_all/the_man_called_flintstone(1966).srt
data_all/Subtitles_all/The_scarlet_letter.srt
data_all/Subtitles_all/The_school_of_rock.srt
data_all/Subtitles_all/the_secret_life_of_walter_mitty(2013).srt
data_all/Subtitles_all/the_shawshank_redemption(1994).srt
data_all/Subtitles_all/the_social_network(2010).srt
data_all/Subtitles_all/the_terminal(2004).srt
data_all/Subtitles_all/the_terminator(1984).srt
data_all/Subtitles_all/the_theory_of_everything(2014).srt
data_all/Subtitles_all/The_truman_show.srt
data_all/Subtitles_all/The_truth_about_cats_and_dogs.srt
data_all/Subtitles_all/the_usual_suspects(1995).srt
data_all/Subtitles_all/The_wedding_singer.srt
data_all/Subtitles_all/The_wizard_of_oz.srt
data_all/Subtitles_all/The.Black.Cauldron.1985.WEBRip.iTunes.srt
data_all/Subtitles_all/The.Card.Counter.2021.varivoda_sp.srt
data_all/Subtitles_all/The.Electrical.Life.of.Louis.Wain.2021.varivoda_sp.srt
data_all/Subtitles_all/The.Green.Knight.2021.varivoda_sp.srt
data_all/Subtitles_all/The.Harder.They.Fall.2021.varivoda_sp.srt
data_all/Subtitles_all/The.Hunger.Games.1080p.BluRay.x264-BLOW.srt
data_all/Subtitles_all/The.Notebook.2004.varivoda_sp.srt
data_all/Subtitles_all/The.Others.2001.720p.BluRay.x264-BestHD_eng.srt
data_all/Subtitles_all/The.Secret.Life.of.Pets.2016.varivoda_sp.srt
data_all/Subtitles_all/The.Sound.of.Music.1965.varivoda_sp.srt
data_all/Subtitles_all/The.True.Cost.2015.varivoda_sp.srt
data_all/Subtitles_all/titanic(1997).srt
data_all/Subtitles_all/toy_story(1995).srt
data_all/Subtitles_all/Turner_and_hooch.srt
data_all/Subtitles_all/twilight(2008).srt
data_all/Subtitles_all/Twins.srt
data_all/Subtitles_all/Two_weeks_notice.srt
data_all/Subtitles_all/up(2009).srt
data_all/Subtitles_all/Valentines.Day.2010.varivoda_sp.srt
data_all/Subtitles_all/venom(2018).srt
data_all/Subtitles_all/Wallace_Grommit.2005.varivoda_sp.srt
data_all/Subtitles_all/warm_bodies(2013).srt
data_all/Subtitles_all/we_are_the_millers(2013).srt
data_all/Subtitles_all/westworld_scenes_of_dr_robert_ford.srt
data_all/Subtitles_all/while_you_were_sleeping(1995).srt
data_all/Subtitles_all/You've_got_mail.srt
data_all/Subtitles_all/zootopia(2016).srt
data_all/Subtitles_txt/10_cloverfield_lane(2016).txt
data_all/Subtitles_txt/10_things_i_hate_about_you(1999).txt
data_all/Subtitles_txt/a_knights_tale(2001).txt
data_all/Subtitles_txt/a_star_is_born(2018).txt
data_all/Subtitles_txt/aladdin(1992).txt
data_all/Subtitles_txt/all_dogs_go_to_heaven(1989).txt
data_all/Subtitles_txt/an_american_tail(1986).txt
data_all/Subtitles_txt/babe(1995).txt
data_all/Subtitles_txt/back_to_the_future(1985).txt
data_all/Subtitles_txt/banking_on_bitcoin(2016).txt
data_all/Subtitles_txt/batman_begins(2005).txt
data_all/Subtitles_txt/beauty_and_the_beast(2017).txt
data_all/Subtitles_txt/before_i_go_to_sleep(2014).txt
data_all/Subtitles_txt/before_sunrise(1995).txt
data_all/Subtitles_txt/before_sunset(2004).txt
data_all/Subtitles_txt/braveheart(1995).txt
data_all/Subtitles_txt/breaking_bad_the_movie(2017).txt
data_all/Subtitles_txt/bridget_jones_diary(2001).txt
data_all/Subtitles_txt/bridget_joness_baby.txt
data_all/Subtitles_txt/cars(2006).txt
data_all/Subtitles_txt/casper.txt
data_all/Subtitles_txt/cast_away(2000).txt
data_all/Subtitles_txt/catch_me_if_you_can(2002).txt
data_all/Subtitles_txt/charlie_and_the_chocolate_factory.txt
data_all/Subtitles_txt/cinderella(1950).txt
data_all/Subtitles_txt/clueless(1995).txt
data_all/Subtitles_txt/deadpool(2016).txt
data_all/Subtitles_txt/despicable_me(2010).txt
data_all/Subtitles_txt/die_hard(1988).txt
data_all/Subtitles_txt/dredd(2012).txt
data_all/Subtitles_txt/dune(2021).txt
data_all/Subtitles_txt/enola_holmes(2020).txt
data_all/Subtitles_txt/entrapment.txt
data_all/Subtitles_txt/eurovision_song_contest_(2020).txt
data_all/Subtitles_txt/ferdinand(2017).txt
data_all/Subtitles_txt/fight_club(1999).txt
data_all/Subtitles_txt/finding_nemo(2003).txt
data_all/Subtitles_txt/forrest_gump(1994).txt
data_all/Subtitles_txt/gogo_loves_english.txt
data_all/Subtitles_txt/good_will_hunting(1997).txt
data_all/Subtitles_txt/groundhog_day(1993).txt
data_all/Subtitles_txt/harry_potter_and_the_philosophers_stone(2001).txt
data_all/Subtitles_txt/her(2013).txt
data_all/Subtitles_txt/home_alone(1990).txt
data_all/Subtitles_txt/hook(1991).txt
data_all/Subtitles_txt/house_of_gucci(2021).txt
data_all/Subtitles_txt/inside_out(2015).txt
data_all/Subtitles_txt/its_a_wonderful_life(1946).txt
data_all/Subtitles_txt/klaus(2019).txt
data_all/Subtitles_txt/knives_out(2019).txt
data_all/Subtitles_txt/kubo_and_the_two_strings(2016).txt
data_all/Subtitles_txt/liar_liar(1997).txt
data_all/Subtitles_txt/lion(2016).txt
data_all/Subtitles_txt/logan(2017).txt
data_all/Subtitles_txt/love_actually(2003).txt
data_all/Subtitles_txt/made_of_honor(2008).txt
data_all/Subtitles_txt/mamma_mia(2008).txt
data_all/Subtitles_txt/mary_poppins_returns(2018).txt
data_all/Subtitles_txt/matilda(1996).txt
data_all/Subtitles_txt/meet_the_parents(2000).txt
data_all/Subtitles_txt/milada(2017).txt
data_all/Subtitles_txt/mona_lisa_smile(2003).txt
data_all/Subtitles_txt/moulin_rouge(2001).txt
data_all/Subtitles_txt/mrs_doubtfire(1993).txt
data_all/Subtitles_txt/my_big_fat_greek_wedding(2002).txt
data_all/Subtitles_txt/notting_hill(1999).txt
data_all/Subtitles_txt/oceans_eleven(2001).txt
data_all/Subtitles_txt/oceans_twelve(2004).txt
data_all/Subtitles_txt/pirates_of_the_caribbean(2003).txt
data_all/Subtitles_txt/pleasantville(1998).txt
data_all/Subtitles_txt/powder(1995).txt
data_all/Subtitles_txt/pride_and_prejudice.txt
data_all/Subtitles_txt/pulp_fiction(1994).txt
data_all/Subtitles_txt/ratatouille(2007).txt
data_all/Subtitles_txt/ready_or_not(2019).txt
data_all/Subtitles_txt/shrek(2001).txt
data_all/Subtitles_txt/sleepless_in_seattle(1993).txt
data_all/Subtitles_txt/soul(2020).txt
data_all/Subtitles_txt/the_blind_side(2009).txt
data_all/Subtitles_txt/the_break-up(2006).txt
data_all/Subtitles_txt/the_cabin_in_the_woods(2012).txt
data_all/Subtitles_txt/the_devil_wears_prad.txt
data_all/Subtitles_txt/the_fault_in_our_stars(2014).txt
data_all/Subtitles_txt/the_fundamentals_of_caring(2016).txt
data_all/Subtitles_txt/the_ghost_writer.txt
data_all/Subtitles_txt/the_graduate(1967).txt
data_all/Subtitles_txt/the_greatest_showman(2017).txt
data_all/Subtitles_txt/the_hangover(2009).txt
data_all/Subtitles_txt/the_holiday(2006).txt
data_all/Subtitles_txt/the_intern(2015).txt
data_all/Subtitles_txt/the_invisible_man(2020).txt
data_all/Subtitles_txt/the_jungle_book(2016).txt
data_all/Subtitles_txt/the_kings_speech(2010).txt
data_all/Subtitles_txt/the_legend_of_tarzan(2016).txt
data_all/Subtitles_txt/the_lion_king(1994).txt
data_all/Subtitles_txt/the_lord_of_the_rings(2001).txt
data_all/Subtitles_txt/the_man_called_flintstone(1966).txt
data_all/Subtitles_txt/the_secret_life_of_walter_mitty(2013).txt
data_all/Subtitles_txt/the_shawshank_redemption(1994).txt
data_all/Subtitles_txt/the_social_network(2010).txt
data_all/Subtitles_txt/the_terminal(2004).txt
data_all/Subtitles_txt/the_terminator(1984).txt
data_all/Subtitles_txt/the_theory_of_everything(2014).txt
data_all/Subtitles_txt/the_usual_suspects(1995).txt
data_all/Subtitles_txt/titanic(1997).txt
data_all/Subtitles_txt/toy_story(1995).txt
data_all/Subtitles_txt/twilight(2008).txt
data_all/Subtitles_txt/up(2009).txt
data_all/Subtitles_txt/venom(2018).txt
data_all/Subtitles_txt/warm_bodies(2013).txt
data_all/Subtitles_txt/we_are_the_millers(2013).txt
data_all/Subtitles_txt/westworld_scenes_of_dr_robert_ford.txt
data_all/Subtitles_txt/while_you_were_sleeping(1995).txt
data_all/Subtitles_txt/zootopia(2016).txt
data_all/Subtitles_txt1/10_cloverfield_lane(2016).txt
data_all/Subtitles_txt1/10_things_i_hate_about_you(1999).txt
data_all/Subtitles_txt1/a_knights_tale(2001).txt
data_all/Subtitles_txt1/a_star_is_born(2018).txt
data_all/Subtitles_txt1/aladdin(1992).txt
data_all/Subtitles_txt1/all_dogs_go_to_heaven(1989).txt
data_all/Subtitles_txt1/an_american_tail(1986).txt
data_all/Subtitles_txt1/babe(1995).txt
data_all/Subtitles_txt1/back_to_the_future(1985).txt
data_all/Subtitles_txt1/banking_on_bitcoin(2016).txt
data_all/Subtitles_txt1/batman_begins(2005).txt
data_all/Subtitles_txt1/beauty_and_the_beast(2017).txt
data_all/Subtitles_txt1/before_i_go_to_sleep(2014).txt
data_all/Subtitles_txt1/before_sunrise(1995).txt
data_all/Subtitles_txt1/before_sunset(2004).txt
data_all/Subtitles_txt1/braveheart(1995).txt
data_all/Subtitles_txt1/breaking_bad_the_movie(2017).txt
data_all/Subtitles_txt1/bridget_jones_diary(2001).txt
data_all/Subtitles_txt1/bridget_joness_baby.txt
data_all/Subtitles_txt1/cars(2006).txt
data_all/Subtitles_txt1/casper.txt
data_all/Subtitles_txt1/cast_away(2000).txt
data_all/Subtitles_txt1/catch_me_if_you_can(2002).txt
data_all/Subtitles_txt1/charlie_and_the_chocolate_factory.txt
data_all/Subtitles_txt1/cinderella(1950).txt
data_all/Subtitles_txt1/clueless(1995).txt
data_all/Subtitles_txt1/deadpool(2016).txt
data_all/Subtitles_txt1/despicable_me(2010).txt
data_all/Subtitles_txt1/die_hard(1988).txt
data_all/Subtitles_txt1/dredd(2012).txt
data_all/Subtitles_txt1/dune(2021).txt
data_all/Subtitles_txt1/enola_holmes(2020).txt
data_all/Subtitles_txt1/entrapment.txt
data_all/Subtitles_txt1/eurovision_song_contest_(2020).txt
data_all/Subtitles_txt1/ferdinand(2017).txt
data_all/Subtitles_txt1/fight_club(1999).txt
data_all/Subtitles_txt1/finding_nemo(2003).txt
data_all/Subtitles_txt1/forrest_gump(1994).txt
data_all/Subtitles_txt1/gogo_loves_english.txt
data_all/Subtitles_txt1/good_will_hunting(1997).txt
data_all/Subtitles_txt1/groundhog_day(1993).txt
data_all/Subtitles_txt1/harry_potter_and_the_philosophers_stone(2001).txt
data_all/Subtitles_txt1/her(2013).txt
data_all/Subtitles_txt1/home_alone(1990).txt
data_all/Subtitles_txt1/hook(1991).txt
data_all/Subtitles_txt1/house_of_gucci(2021).txt
data_all/Subtitles_txt1/inside_out(2015).txt
data_all/Subtitles_txt1/its_a_wonderful_life(1946).txt
data_all/Subtitles_txt1/klaus(2019).txt
data_all/Subtitles_txt1/knives_out(2019).txt
data_all/Subtitles_txt1/kubo_and_the_two_strings(2016).txt
data_all/Subtitles_txt1/liar_liar(1997).txt
data_all/Subtitles_txt1/lion(2016).txt
data_all/Subtitles_txt1/logan(2017).txt
data_all/Subtitles_txt1/love_actually(2003).txt
data_all/Subtitles_txt1/made_of_honor(2008).txt
data_all/Subtitles_txt1/mamma_mia(2008).txt
data_all/Subtitles_txt1/mary_poppins_returns(2018).txt
data_all/Subtitles_txt1/matilda(1996).txt
data_all/Subtitles_txt1/meet_the_parents(2000).txt
data_all/Subtitles_txt1/milada(2017).txt
data_all/Subtitles_txt1/mona_lisa_smile(2003).txt
data_all/Subtitles_txt1/moulin_rouge(2001).txt
data_all/Subtitles_txt1/mrs_doubtfire(1993).txt
data_all/Subtitles_txt1/my_big_fat_greek_wedding(2002).txt
data_all/Subtitles_txt1/notting_hill(1999).txt
data_all/Subtitles_txt1/oceans_eleven(2001).txt
data_all/Subtitles_txt1/oceans_twelve(2004).txt
data_all/Subtitles_txt1/pirates_of_the_caribbean(2003).txt
data_all/Subtitles_txt1/pleasantville(1998).txt
data_all/Subtitles_txt1/powder(1995).txt
data_all/Subtitles_txt1/pride_and_prejudice.txt
data_all/Subtitles_txt1/pulp_fiction(1994).txt
data_all/Subtitles_txt1/ratatouille(2007).txt
data_all/Subtitles_txt1/ready_or_not(2019).txt
data_all/Subtitles_txt1/shrek(2001).txt
data_all/Subtitles_txt1/sleepless_in_seattle(1993).txt
data_all/Subtitles_txt1/soul(2020).txt
data_all/Subtitles_txt1/the_blind_side(2009).txt
data_all/Subtitles_txt1/the_break-up(2006).txt
data_all/Subtitles_txt1/the_cabin_in_the_woods(2012).txt
data_all/Subtitles_txt1/the_devil_wears_prad.txt
data_all/Subtitles_txt1/the_fault_in_our_stars(2014).txt
data_all/Subtitles_txt1/the_fundamentals_of_caring(2016).txt
data_all/Subtitles_txt1/the_ghost_writer.txt
data_all/Subtitles_txt1/the_graduate(1967).txt
data_all/Subtitles_txt1/the_greatest_showman(2017).txt
data_all/Subtitles_txt1/the_hangover(2009).txt
data_all/Subtitles_txt1/the_holiday(2006).txt
data_all/Subtitles_txt1/the_intern(2015).txt
data_all/Subtitles_txt1/the_invisible_man(2020).txt
data_all/Subtitles_txt1/the_jungle_book(2016).txt
data_all/Subtitles_txt1/the_kings_speech(2010).txt
data_all/Subtitles_txt1/the_legend_of_tarzan(2016).txt
data_all/Subtitles_txt1/the_lion_king(1994).txt
data_all/Subtitles_txt1/the_lord_of_the_rings(2001).txt
data_all/Subtitles_txt1/the_man_called_flintstone(1966).txt
data_all/Subtitles_txt1/the_secret_life_of_walter_mitty(2013).txt
data_all/Subtitles_txt1/the_shawshank_redemption(1994).txt
data_all/Subtitles_txt1/the_social_network(2010).txt
data_all/Subtitles_txt1/the_terminal(2004).txt
data_all/Subtitles_txt1/the_terminator(1984).txt
data_all/Subtitles_txt1/the_theory_of_everything(2014).txt
data_all/Subtitles_txt1/the_usual_suspects(1995).txt
data_all/Subtitles_txt1/titanic(1997).txt
data_all/Subtitles_txt1/toy_story(1995).txt
data_all/Subtitles_txt1/twilight(2008).txt
data_all/Subtitles_txt1/up(2009).txt
data_all/Subtitles_txt1/venom(2018).txt
data_all/Subtitles_txt1/warm_bodies(2013).txt
data_all/Subtitles_txt1/we_are_the_millers(2013).txt
data_all/Subtitles_txt1/westworld_scenes_of_dr_robert_ford.txt
data_all/Subtitles_txt1/while_you_were_sleeping(1995).txt
data_all/Subtitles_txt1/zootopia(2016).txt
__pycache__/edit_text.cpython-39.pyc
__pycache__/imdb.cpython-39.pyc
data_all/Subtitles_all/Mulholland.Drive.2001.REPACK.720p.BluRay.x264.AAC-[YTS.MX].srt
Oxford_CEFR_level/American_Oxford_3000_by_CEFR_level.pdf
Oxford_CEFR_level/American_Oxford_5000_by_CEFR_level.pdf
Oxford_CEFR_level/The_Oxford_3000_by_CEFR_level.pdf
Oxford_CEFR_level/The_Oxford_5000_by_CEFR_level.pdf
